<div class="modal_terms_wrapper">
  <div class="modal_terms_close_wrapper">
    <div class="modal_terms_close clr">
      <a href="" data-ng-click="close()"><i class="fa fa-times fa-lg"></i></a>
    </div>
  </div>
  <h2>Terms and Conditions</h2>
  <div class="modal_terms_content_wrapper">
    <div class="modal_terms_content">
      <p>This Feedback System Services Agreement (the <b>"Agreement"</b>) is between the party identified through the registration details submitted and Feefo Holdings Limited whose registered office is Feefo Barn, Heath Farm, Heath Road, Petersfield, Hampshire GU31 4HT, Company registration number 7191962 (<b>"us" "we" and "Feefo"</b>). This Agreement consists of: the terms and conditions below</p>
      <p>1. Definitions</p>
      <p>"Customers" means the customers of your business whom you have requested that we contact for Feedback;</p>
      <p>"Customer Data" means the data provided by you to us relating to Customers;</p>
      <p>"Feedback" means the feedback provided to us by Customers relating to your business;</p>
      <p>"Feefo Logo" means the logo containing the term "Feefo" as depicted from time to time on the Feefo Website;</p>
      <p>"Feefo Rating" means the product rating and/or service rating, as applicable, prepared by us for you on a daily basis;</p>
      <p>"Feefo Website" means the website to which the domain name &lt;feefo.com&gt; resolves;</p>
      <p>"Intellectual Property Rights" means rights in inventions, patents, copyright, rights in designs (whether registrable or not), rights in databases, rights in confidential information and rights in trademarks existing anywhere in the world;</p>
      <p>"Loss" means any loss, damage, liability, cost or expense</p>
      <p>"Services" means the ratings and feedback services provided to you by us in accordance with the terms of this Agreement as more particularly described in the Services Schedule.</p>
      <p>2. Commencement</p>
      <p>2.1 This Agreement shall commence on the commencement date (the "Commencement Date)2.2,This Agreement shall continue indefinitely unless and until terminated:</p>
      <p>(b) in accordance with Clause 11.</p>
      <p>3. Customer Data and Customer Emails</p>
      <p>3.1 You agree that you are solely responsible for providing us with the Customer Data and you acknowledge that our Services under this Agreement are dependent on the provision to us by you of the Customer Data.</p>
      <p>3.2 You warrant, represent and undertake that you have the right lawfully to supply us with the Customer Data and that our use of the Customer Data in accordance with the terms of this Agreement shall not infringe the Intellectual Property Rights of any third party or otherwise be in breach of applicable law. Any breach of this Clause 3.2 shall be considered a material default for the purposes of Clause 11.1(b).</p>
      <p>3.3 You further undertake that the Customer Data shall reflect your entire customer base and is genuine, true, accurate and complete in all material respects and has not been manipulated or edited by you.</p>
      <p>3.4 We shall use the Customer Data solely for the purposes of gathering the Feedback under the terms of this Agreement and shall not make further contact with any Customer except:</p>
      <p>(a) with the prior written consent of you and/or the Customer;</p>
      <p>(b) where details of a Customer have been provided to us by a third party;</p>
      <p>(c) as required by law or by any court, tribunal or administrative body of competent jurisdiction;</p>
      <p>(d) to inform the Customer of a response you have made to his/her comments; or</p>
      <p>(e) for the purpose of satisfying our obligations and exercising our rights under this Agreement.</p>
      <p>3.5 We retain complete control over the format and content of the jointly-branded emails which are sent to Customers for their Feedback (the "Customer Emails"). You shall have the right to make requests regarding potential changes to the Customer Emails and we shall use our reasonable endeavours (but without obligation) to incorporate any reasonable request into the Customer Emails.</p>
      <p>4. Feefo Logo and Feefo Rating</p>
      <p>4.1 Within [3] months following the Commencement Date, you shall display on your website the Feefo Logo together with the Feefo Rating. The positioning of the Feefo Logo and Feefo Rating on your website is at your discretion.  Any breach of this Clause 4.1 shall be considered a material default for the purposes of Clause 11.1(b).</p>
      <p>4.2 You acknowledge that all right, title and interest in the Feefo Logo is the sole property of Feefo. You are granted a non-exclusive, non-transferable, revocable licence for the Term to use the Feefo Logo solely as provided in this Agreement.</p>
      <p>5. Feedback and Responses</p>
      <p>5.1 Throughout the Term, you agree and acknowledge that we may publish any and all Feedback on the Feefo Website and may provide such Feedback to Internet-based search engines for up to 2 years from the date of receipt from the Customer. Upon termination of this Agreement, we shall remove all Feedback from your Customers and/or relating to you from the Feefo Website if requested to do so by you in writing. Feedback may not be used by other feedback websites.</p>
      <p>5.2 You shall have the right to publish a response to any Feedback posted on the Feefo Website (a "Response"). You agree to publish any Customer reply or a link to any Response (a "Customer Reply"), with reasonable prominence and proximity to the relevant Feedback.</p>
      <p>5.3 We shall publish any Response and Customer Reply on the Feefo Website and display the Response and/or a Customer Reply with reasonable prominence and proximity to the relative Feedback.</p>
      <p>5.4 You shall ensure that all Responses are genuine, true and accurate, are not manipulated and not misleading in any way. You shall further ensure that the Responses and do not contain any material that may reasonably be construed as offensive, defamatory or unlawful.</p>
      <p>6. Data Protection</p>
      <p>6.1 In this Clause 7, the expressions "data controller, "data processor", "personal data", "process" shall have those meanings as set out in the Data Protection Act 1998.</p>
      <p>6.2 You agree that, in respect of any personal data comprised in the Customer Data, Response or Customer Reply or any other personal data relating to any Customer ("Customer Personal Data") that is made available to us under this Agreement, you are the data controller and we are the data processor. As such, you agree that you shall comply with your responsibilities under the Data Protection Act 1998 and all other applicable UK data protection law with respect to the Customer Personal Data.</p>
      <p>7. Limited Warranty and Suitability of Service</p>
      <p>7.1 Each party warrants to the other that it has the right, power and authority to enter into this Agreement and that the performance of its obligations under this Agreement shall not be unlawful or be in breach of any other agreement.</p>
      <p>7.2 We cannot guarantee that the Feefo Website or our Services shall be available at all times. Our Services under this Agreement are provided "as is", without warranty of any kind save as may be expressly provided in this Agreement and by applicable law. It is for you to ensure that the Services we provide under this Agreement are suitable for your business, including upgrading your systems to support updated web browser software. Whilst we use reasonable endeavours to use 'obscenity filters' on the Feefo Website, we do not monitor the content on the Feefo Website.</p>
      <p>8. Assignment</p>
      <p>8.1 Subject to Clause 9.2, you shall not, without our prior written consent, assign, transfer, charge, mortgage, subcontract or deal in any other manner with all or any of your rights or obligations under this Agreement.</p>
      <p>8.2 Either party may assign or novate all rights, title and interest under this Agreement to any other person in connection with a corporate re-organisation or to any successor in title to the business.</p>
      <p>8.3 This Agreement will survive a change of ownership or change of control for either party.</p>
      <p>9 Force Majeure</p>
      <p>We may defer the delivery of the Services if prevented from doing so by circumstances beyond our control. If the situation continues for more than 28 days you may terminate this Agreement, in writing, with immediate effect.</p>
      <p>10. Termination</p>
      <p>10.1 Without prejudice to Clause 2.2, either party may terminate this Agreement at any time</p>
      <p>11.2 Should an account remain inactive (whereby no new reviews have been left) for a period of time (to be determined by Feefo Holdings Ltd), Feefo will have the right to terminate the account and delete all reference of merchant name from the Feefo website.</p>
      <p>11.3 On the termination of this Agreement:</p>
      <p>(a) Feefo has the right to hold reviews collected for a period to be determined by Feefo Holdings Ltd can be displayed on the public facing view vendor page.</p>
      <p>(b) Termination of this Agreement for any reason shall not affect the accrued rights of the parties under this Agreement. The provisions of  the following Clauses shall survive termination of this Agreement: 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, and 15</p>
      <p>12. Indemnity</p>
      <p>You agree that any breach of your obligations under this Agreement may have significant repercussions for us. You agree that you shall defend, hold harmless and indemnify us in respect of any Loss incurred by us caused directly by any third party claim that:</p>
      <p>(a) our use of the Customer Data and our publication of the Customer Data, Feedback and Response in accordance with the terms of this Agreement infringes the Intellectual Property Rights of any third party; or</p>
      <p>(b) our processing of the Customer Personal Data in accordance with the terms of this Agreement or as anticipated by this Agreement breaches the Data Protection Act 1998 or any other applicable UK data protection law or other applicable UK law.</p>
      <p>13. Limitation of Liability</p>
      <p>13.1 Neither party excludes any Loss in respect of personal injury or death, fraudulent misrepresentation or any other Loss that may not be lawfully excluded or limited under English law.</p>
      <p>13.2 Subject to Clause 12, Clause 13.1, neither party's liability for Loss to the other shall be greater than the total amount of £1000 paid or payable to the other party under this Agreement in the calendar year in which such Loss occurred.</p>
      <p>13.3 Neither party shall be liable for any loss of profits or revenues, loss of business opportunity, loss of goodwill or reputation, loss of data or any indirect, consequential or special Loss whatsoever.</p>
      <p>14. Marketing and Promotional Announcement</p>
      <p>14.1 You agree that we may identify you as a customer on the Feefo Website and to other businesses, and you consent to our use of Feedback (or a link to the Feedback) to introduce marketing opportunities to other clients of Feefo.</p>
      <p>14.2 Feefo has the right to sell advertising space on the Public Facing View Vendor Page for any Free Account</p>
      <p>15. General</p>
      <p>15.1 This Agreement constitutes the entire agreement between the parties relating to its subject matter. Each party confirms that it has not relied upon any representation not recorded in this Agreement in entering into this Agreement.</p>
      <p>15.2 No person who is not a party to this Agreement shall have any right to enforce any term of this Agreement.</p>
      <p>15.3 No amendment or addition to this Agreement shall be made unless made in writing and signed by both parties.</p>
      <p>15.4 The parties are not partners nor joint venturers nor is either party entitled to act as nor represent itself as agent for the other nor to pledge the other’s credit.</p>
      <p>15.5 Any failure or delay by either party in enforcing any provision of this Agreement will not be construed as a waiver of any rights under them.</p>
      <p>15.6 If any provision or term of this Agreement shall be declared illegal, invalid or unenforceable for any reason whatsoever, such terms or provisions shall be divisible from this Agreement.</p>
      <p>15.7 The formation, existence, construction, performance, validity and all aspects of the Agreement will be governed by English law and the parties submit to the exclusive jurisdiction of the English courts.</p>
    </div>
  </div>
</div>